<div class="gutter">
  <div class="container">
    <div class="button__admin">
      {{#link-to "admin.category" class="row__item"}}
        Categories
      {{/link-to}}
    </div>
  </div>
</div>
{{outlet}}


      {{!-- <button {{action 'categories'}}>Categories</button> --}}
