<div class="gutter">
  <div class="container">
    <div class="button__admin">
      {{#link-to "admin.category.index" class="row__item"}}
        Categories
      {{/link-to}}
    </div>
    {{outlet}}
  </div>
</div>


      {{!-- <button {{action 'categories'}}>Categories</button> --}}
