<div class="grid">
  <h2 class="grid__title">menus</h2>
    <div class="card card--fullwidth">
      <div class="row">
        {{#link-to 'admin.category.new' class="row__item"}}
          New category
        {{/link-to}}
      </div>
      <div class="table">
        <div class="thead">
          <p>name</p>
        </div>
        {{#each model as |category|}}
        <div class="tbody">
          <div class="row row-table">
            <p>{{category.name}}</p>
            {{#link-to 'admin.category.detail' category.id}}
              details
            {{/link-to}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
</div>
