<div class="grid">
  <h2 class="grid__title">Menus</h2>
</div>
<div class="grid">
  <div class="card card--fullwidth">
    <div class="row">
      {{#link-to 'admin.category.new' class="row__item" }}
        New category
      {{/link-to}}
    </div>
    <div class="table">
      <div class="thead">
        <p>Name</p>
      </div>
      {{#each model as |category|}}
        <div class="tbody">
          <div class="row row-table">
            <p>{{category.name}}</p>
            {{#link-to 'admin.category.detail' category.id}}
              Details
            {{/link-to}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
