<div class="app">
  <div class="app__nav">
    <div class="container">
      <nav class="nav-bar">
        <h1 class="nav-bar__left">
          {{#link-to "index"}}Emberial Thai Taste{{/link-to}}
        </h1>
        <ul class="nav-bar__right">
          <li class="nav-bar__item">
            {{#link-to "index"}}Order{{/link-to}}
          </li>
          <li class="nav-bar__item">
            {{#link-to "index"}}Admin{{/link-to}}
          </li>
          <li class="nav-bar__item">
            {{#link-to "index"}}Logout{{/link-to}}
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="app__grow"></div>
  <div class="app__stickey-footer">
  This is sticky footer!
  </div>
</div>
