<div class="grid">
  <div class="card card--fullwidth">
    <h2 class="card__header">New Category</h2>
    {{#simple-form onsubmit=(action "submitForm") as |formValues|}}
      <div class="card__content--top">
        <p>name</p>
        {{input value=formValues.name}}
      </div>
      <div class="card__content--bottom admin">
        {{#link-to 'admin.category.index'}}
          back
        {{/link-to}}
        <button class="button is-success">submit</button>
      </div>
      {{/simple-form}}
  </div>
</div>
