<h2 class="grid__title">{{ model.name }}</h2>
<div class="grid">
  <div class="grid__item">
      <div class="card card--fullwidth">
        <div class="row space-between">
          <button class="button is-danger" {{action "deleteItem"}}>Delete</button>
          {{#link-to 'admin.category.new-item' model class="row__item"}}
            New Menu Item
          {{/link-to}}
        </div>
        <div class="table">
          <div class="thead">
            <p>Name</p>
          </div>
          <div class="tbody">
            {{#each model.menuItems as |menuItem|}}
            <div class="row row-table">
              <p>{{menuItem.name}}</p>
              {{#link-to 'admin.item.edit' menuItem}}
                edit
              {{/link-to}}
            </div>
            {{/each}}
          </div>
        </div>
      </div>
  </div>
</div>
